**/__pycache__/
*.pyc
*venv*

# CMake build artifacts if built in-tree
build/
install/
log/

# Runtime output written by raplace_node
raplace_local_maps/

# Runtime output written by dro_node/pogo_node/mapping_node (via mode_node)
output/
